# TEMPLATE: IREE's runtime uses Google style while its compiler uses LLVM style.
#
# Users can either inherit this style or override with their own but pinning
# this keeps the sample code consistent with the IREE runtime code it's using.
BasedOnStyle: Google
